

html,
body {
  background-color: black ;
  width: 100%;
  height: 100%;
 
  
}
body {
  margin: 0;
}

/*Heading Start*/


.heading_one
{
    text-align: center;
    color: white ;

}
.heading_two
{   
    color:white ;
    text-align: center;
}


/*Heading End*/

/*Grid  Start*/
.grid {
  width: 100%;
  height: 100%;
}
.grid--item {
  margin-bottom: 10px;
}
.grid--item img {
  width: 100%;
  display: block;
}


.grid {
    display: block;
    position: relative;
  }
  
  .grid--column {
    display: block;
    position: relative;
    width: 33.333333%;
    width: calc(100% / 2);
    float: left;
    padding: 0;
    box-sizing: border-box;
  }
  
  .grid--column:first-child {
    padding-right: 5px;
  }
  
  .grid--column ~ .grid--column {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .grid--column:last-of-type {
    padding-right: 0;
  }
  
  @media (max-width: 991px) {
    .grid--column {
      width: 50%;
    }
  }
  
  @media (max-width: 767px) {
    .grid--column {
      width: 100%;
    }
  }
  /*Grid End */